.profile-frame{
    width:150px;
    height:150px;
    border:2px solid red;
    overflow:hidden;
}

.profile-frame img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
}
/* ===================================
   ANIMATION
=================================== */

@keyframes rotateBorder{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

@keyframes floatImage{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ===================================
   MOBILE
=================================== */

@media(max-width:768px){

.profile-frame{

    width:280px;
    height:280px;

}

.profile-frame::before{

    width:240px;
    height:240px;

}

.profile-frame img{

    width:210px;

}

}

@media(max-width:480px){

.profile-frame{

    width:230px;
    height:230px;

}

.profile-frame::before{

    width:190px;
    height:190px;

}

.profile-frame img{

    width:170px;

}

}
